
<div class="signup-container">
  <mat-card class="signup-card">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="fullName" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter password" formControlName="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="signupForm.invalid">
        Sign Up
      </button>
    </form>

    <p class="login-link">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </mat-card>
</div>
